<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Spitter</h1>
    <p>
    Spitter was built by dTap as an initial application to start the adventure through theFirehoseProject. It is a mock up of the Splurty app built by Ken and Marco who are the founders of theFirehoseProject. Building this app came along with learning the very essentials of how to navagate through the terminal using basic commands, Ruby on Rails, Adding Ruby Gems, Embedded Ruby, Twitter Bootstrap 3, and a host of other things that are necessary to develop powerful Web applications!
    </p>
</div>

<div class="col-xs-12 col-sm-4">
    <%= image_tag 'viceCity.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">David Tapmalai</h2>
    <br />
    <p>
      I'm an aspiring Web Developer that has a B.S. in Information Systems from the University of Nevada and close to a Masters in Educational Technology from Boise State University. I've traveled and lived abroad for many years, mostly Thailand. I'm back here in Northern Nevada with hopes of relocating to the Pacific Northwest. I strive to land a career as a Full-Stack Developer. In the last life I slept and drank beer and got paid to do it!
    </p>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

	








