<h1><%= @quote.inspect %></h1>
<h2>- <%= @quote.author %></h2>

 <p>Now I can see how Ruby on Rails works together!</p>
	<ul>
		<li>Soon I'll add CSS to my Webpage.</li>
		<li>Then I'll add JavaScript and jQuery.</li>
		<li>And my Ruby on Rails Web Apps will come to life!</li>
		<li>POWERFUL!</li>
	</ul>
